* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-body);
  background-color: #000000; /* black */
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--page-background);
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
